<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="DHSConnectionString" connectionString="Data Source=valhalla;Initial Catalog=DHS_TEST;User ID=dhsuser;Password=dhsuser"
      providerName="System.Data.SqlClient" />
    <!--add name="DHSConnectionString1" connectionString="Data Source=144.167.24.67;Initial Catalog=DHS;User ID=dhsuser;Password=dhsuser"
      providerName="System.Data.SqlClient" />
    <add name="DHSConnectionString" connectionString="Data Source=144.167.24.67;Initial Catalog=DHS_TEST;Integrated Security=True;"
      providerName="System.Data.SqlClient" /-->
  </connectionStrings>
  <system.web>
    <!--httpHandlers>
    <remove verb="*" path="*.asmx"/>
    <add verb="*" path="*.asmx" type="System.Web.Script.Services.ScriptHandlerFactory" validate="false"/>
  </httpHandlers-->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="AjaxControlToolkit, Version=3.0.30930.28736, Culture=neutral, PublicKeyToken=28F01B0E84B6D53E"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <pages enableEventValidation="false" />
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <!-- Web.Config Configuration File -->
  <system.web>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>